<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--<pages theme="BlackTheme"></pages>-->
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CalculatorSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://www.dneonline.com/calculator.asmx" binding="basicHttpBinding" bindingConfiguration="CalculatorSoap" contract="ServiceReference1.CalculatorSoap" name="CalculatorSoap"/>
		</client>
	</system.serviceModel>
</configuration>
